<!DOCTYPE html>

<html>
  <head>
    <title>Write new post</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <form method="post" >
      <table>
        <tr>
          <td class="label">
            heading
          </td>
          <td>
            <input type="text" name="heading" value="">
          </td>
          <td class="error">
          </td>
        </tr>

        <tr>
          <td class="label">
            content
          </td>
          <td>
            <textarea name="content" cols="40" rows="5" ... ></textarea>
            <!--<input type="text" name="content" value="" style="width: 300px ;  height: 300px "> -->
          </td>
          <td class="error">
	
            
          </td>
        </tr>

      </table>

      <input type="submit">
    </form>
  </body>

</html>
