<!DOCTYPE html>

<html>
  <head>
    <title>Welcome</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
      .posts
{
    background : yellow;
    float : top;
}
    </style>

  </head>

  <body>
    Welcome {{username}}
<p>
<ul>
<li><a href="/">Goto Blog Home</a></li>
<li>
<a href="/logout">Logout</a>
</li>
<li>
<a href="/newpost">Create a New Post</a>
</li>

</br>

% for post in posts:
    </br>
    <div class ="posts" >
   <h2 style="border:10px" href="/showpost">{{post['owner']}} : {{post['head']}}  </h2>
   <h3>{{post['_id'].split('.')[0]}}</h3>
   <p>{{post['text']}}</p>
   </div>

</html>
